#startGame.hover,
#exitStartGame.hover,
#nextLevel.hover,
#newGame.hover,
#submitScore.hover,
#submitScoreFail.hover,
#tryAgain.hover, 
#cancel.hover,
#submit.hover,
#delete.hover{
	border: 10px solid white;
}
#keyboard{
	width: 590px;
	background-color: orange;
}
.keyButton{
	border: 10px solid transparent;
	display:block;
	width:50px;
	height:50px;
	padding:4px;
	margin:4px;
	float:left;
}
.keyButton.hover{
	border: 10px solid white;
}
